
#lista {

    background-color:cadetblue;              
    padding: 20px;
    border-radius: 20px;
    width: 250px;

}

input {

    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;

}

button {

    width: 100%;
    padding: 8px;
    background-color: blueviolet;  
    color: white;
    border: none;
    border-radius: 10px;

}
body {

    background-color:burlywood;      
    font-family: Arial, sans-serif;
    height: 100vh;                  
    display: flex;
    justify-content: center;        
    align-items: center;           

}
 