body {
    background-color: black;
    color: #7CFC00;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #7CFC00;
    margin-bottom: 15px;
}

ul#listaSal {
    list-style-type: none;
    padding-left: 0;
}

ul#listaSal li {
    margin-bottom: 8px;
    color: #7CFC00;
}
button {
    background-color: #7CFC00;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
}